@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply dark:bg-slate-900;
}

#SUMMARY p {
  @apply mb-4;
}

#SUMMARY p b {
  @apply text-teal-500 dark:text-slate-200 font-normal;
}

.Experience-container:hover {
  @apply bg-slate-100 dark:bg-mirage   bg-clip-padding dark:backdrop-filter dark:backdrop-blur-sm dark:bg-opacity-30;
}

.Experience-container li {
  @apply mb-2;
}
