@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0f172a;
  color: white;
}

#SUMMERY p {
  @apply mb-4;
}

#SUMMERY p b {
  @apply text-mystic font-normal;
}

.Experience-container:hover {
  @apply bg-mirage   bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-30;
}
